<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <form method="post" name="AddFriends">
  <img src="/static/AddFriend.jpg" style=" width:200px;height:200px;">
  
  <p>Add New Friend</p>
  <div>
    <table border="1">
            
    {% for n in data %}
     <tr>
         <td><img src="/static/friend.jpg" alt="Friend"></td>
         <td>{{n.userId}}</td>
         <td>{{n.firstname}} {{n.lastname}}</td>
         <td>{{n.phone}}</td>
         <td>{{n.email}}</td>
         <td><input type="checkbox" id="AddFriend" text="Add Friend"></td>
    </tr>
    {% endfor %}
   </table>
  </div>
 <input type="submit" value="AddFriends" name="Add Friends">

</form>
</html>
