<!DOCTYPE html>
<html lang="en">
<head>
    <title>CreatEvent</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Create Event</title>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            overflow: scroll;
        }

        #map {
            /*position: absolute;*/
            /*top: 45px;*/
            /*right: 0;*/
            height: 450px;
            width: 400px;
            /*background-color: #666666;*/
        }
        footer {
            position: relative;
            bottom: 0;
        }
    </style>
</head>
<body bgcolor="F0F0F">
<h1>Create your event</h1>
<div id="createEventForm">
    <form action="create_event" method="POST" name="create_event">
        <table border="1">
            <tr>
                <td>Event Name:</td><td><input type="text" name="eventName"></td>
            </tr>
            <tr>
                <td>Time:</td><td><input type="text" name="eventTime"></td>
            </tr>
            <tr>
              <td>send invitation to:</td>
              <td>

              <table border="1">
                  {% for n in friend %}
                  <tr>

                      <td>{{n[0]}}</td>
                      <td>{{n[1]}}</td>
                      <td>{{n[2]}}</td>

                      <td>add<input   type="checkbox"   value={{n[0]}}   name="memberlist"   checked="checked"/></td>

                  </tr>
                  {% endfor %}
                  <tr>
                      <td>All strangers</td>
                      <td> </td>
                      <td> </td>
                      <td>add<input   type="checkbox"   value="alluser"   name="memberlist"   checked="checked"/></td>
                  </tr>
              </table>

              </td>
          </tr>
          <tr>
              <td> <input type="submit" value="SendInvitation" name="Send Invitation" id="SendInvitation"></td>
          </tr>
        </table>
         <p>Click <a href="/homepage">here</a> to go home.</p>

    </form>
    {% if error %}
         <p class="error"><strong>Error:</strong>{{error}}
    {% endif %}
</div>
<div id="map"></div>
<script>
    function initMap() {
        var newyork = {lat: 40.8075355, lng: -73.96257270000001};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: newyork
        });
        map.addListener('click', function(event) {
            coor = {"lat": event.latLng.lat(),"lng":event.latLng.lng()};
            send_coor(coor);
            var res1 = document.getElementById('result');
            res1.innerHTML = JSON.stringify(coor);
        });
    }

    function send_coor(data_received) {
        var req_coor = new XMLHttpRequest();

        var res2 = document.getElementById('result2');
        var dict_data={};
        req_coor.onreadystatechange = function()
        {
            if(this.readyState == 4 && this.status == 200) {
                var resText = this.responseText;
                dict_data = JSON.parse(resText);
                res2.innerHTML = JSON.stringify(dict_data);
                var markerList = new Array(dict_data["backendcoor"].length);
                var windowList = new Array(dict_data["backendcoor"].length);
                for(var i = 0;i<dict_data["backendcoor"].length;i++) {
                    markerList[i] = new google.maps.Marker({
                        position: {
                            lat: dict_data["backendcoor"][i]["lat"],
                            lng: dict_data["backendcoor"][i]["lng"]
                        },
                        map: map
                    });
                    markers.push(markerList[i]);

                    windowList[i] = new google.maps.InfoWindow({
                        content: dict_data["backendcoor"][0]["text"],
                        maxWidth: 200
                    });
//
//                        marker_new.addListener('click', function (event) {
                    windowList[i].open(markerList[i].get('map'), markerList[i]);
////                            map.panTo(event.latLng);
////                        });
                }
            } else {
                res2.innerHTML = "Oops, no shopping around";
                dict_data={};
            }
        };
        req_coor.open('POST', '/', true);
        req_coor.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req_coor.send("lat="+data_received['lat']+"&"+"lng="+data_received['lng']+"&"+"check=true");

        return dict_data;
    }

</script>
<div id="txt">
    <p id="result" class = "tt2">The Lat and Lng of the clicked point</p>
    <p id="result2" class = "tt2">Shopping Mall Information Here</p>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuy5-bTczo1PYVkSlLdIDVqB5LF1Ibyow&callback=initMap">
</script>
</body>
<footer>
    <p>© 2017 WeShop. All rights reserved.</p>
</footer>
</html>
