<!DOCTYPE html>
<html lang="en">
<head>
    <title>CreatEvent</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Create Event</title>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            overflow: scroll;
        }

        #map {
            /*position: absolute;*/
            /*top: 45px;*/
            /*right: 0;*/
            height: 450px;
            width: 400px;
            /*background-color: #666666;*/
        }
        footer {
            position: relative;
            bottom: 0;
        }
    </style>
</head>
<body bgcolor="F0F0F">
<h1>Create your event</h1>
<div id="createEventForm">
    <form action="/createevent" method="POST" name="createevent">
        <table>
            <tr>
                <td>Event Name:</td><td><input type="text" name="eventname"></td>
            </tr>
            <tr>
                <td>What kind of goods you want to buy:</td><td><input type="text" name="goodskind"></td>
            </tr>
            <tr>
                <td>send invitation to:</td>
                <td>
                    <select type="choose" name="invitelist" id="select_k1">
                        <option value="allusers">All Users</option>
                        <option value="friends">Friends Only</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> <input type="submit" value="SendInvitation" name="Send Invitation" id="SendInvitation"></td>
            </tr>
        </table>
    </form>
</div>
<div id="map"></div>
<script>
    function initMap() {
        var newyork = {lat: 40.78, lng: -73.90};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: newyork
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=APIKEY_HERE&callback=initMap">
</script>
</body>
<footer>
    <p>© 2017 WeShop. All rights reserved.</p>
</footer>
</html>
