<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <form method="post" name="FriendList">
  <img src="/static/FriendList.jpg" style=" width:200px;height:200px;">
  
  <p>Friend List</p>
  <div>
    <table border="1">
     <tr>
         <td><strong>Username</strong></td>
         <td><strong>Name</strong></td>
         <td><strong>Phone Number</strong></td>
    </tr>      
    {% for n in data %}
     <tr>
         <td>{{n[0]}}</td>
         <td>{{n[1]}} {{n[2]}}</td>
         <td>{{n[3]}}</td>
    </tr>
    {% endfor %}
   </table>
  </div>

<p><a href="/AddFriend">Add Friends</a></p>

</form>
</html>
