<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="img/icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WE SHOP</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/custom-styles.css">
    <link rel="stylesheet" href="css/font-awesome.css">
	  <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/font-awesome-ie7.css">

      <script src="js/jquery.mobilemenu.js"></script>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script>
    $(document).ready(function(){
        $('.menu').mobileMenu();
    });
  </script>

  </head>

  <body>
    <font face="helvetica">
    <div id="headerlinks">
      <div style="text-align:left;">
        <a href="http://www.columbia.edu/"><img height="11px"> Download our application from mobile app store</a>
      <span style="float:right;">
      <a href="signout.html">Logout</a> |
       
      </div>
    <div class="header-wrapper">
      <div class="site-name">
        <!--<h1>sitename</h1>
        <h2>lorem ipsum dolor sit amet vivamus</h2>-->
        <a href="index.html"><img src="img/shop/shopping.jpg" width="300px" height="300px" style="zoom: 0.45"></a></font>
        <a href="index.html"><img src="img/shop/we.jpg" width="300px" height="300px" style="zoom: 0.45"></a></font>
      </div>
      <!--Search Bar START/-->
       
    <div class="menu">
      <div class="navbar">
        <div class="container-menu">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fw-icon-th-list"></i>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <div class="container-menu"><b>
               </div>
                <div class="dropdown">
                  <button class="dropbtn">EVENTS</button>
                  <div class="dropdown-content">
                    <a href="createevent.html">Create Event</a>  <!--Change pages-->
                    <a href="invite.html">View Invites</a>
                  </div>
                </div>
                 <div class="dropdown">
                  <button class="dropbtn">FRIENDS</button>
                  <div class="dropdown-content">
                    <a href="createevent.html">View Friends</a>  <!--Change pages-->
                    <a href="invite.html">Add Friends</a>
                  </div>
                </div>
                <a href="weshop.html">HOME</a>
                <div class="dropdown">
                  <button class="dropbtn">ABOUT</button>
                  <div class="dropdown-content">
                    <a href="overview.html">Overview</a>
                    <a href="team.html">Team</a>
                  
                  </div>
               
                </b>
              </div>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    
<!--END HEADER: COPY&PASTE FROM BEGINNING TO HERE TO ALL OTHER PAGES & CHANGE SELECTED=""-->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="banner">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
  <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/shop/regalos-nevada-shopping_0.jpg"  style="width:1300px;" alt="BNAV">
            <div class="carousel-caption">
              <h1>WE SHOP</h1>
              <h2>We Shop is a tool to hang out with your friends and create new friends</h2>
            </div>
          </div>
         
        </div>
        <div class="ruler"></div>
        </div>
      </div>

<!--/Footer Start: Copy from here to end and paste for every page-->
      <div class="copy-rights">
      <div class="container">
        <div class="row">

          <div class="col-md-8">
            
          </div>

          </div>
        </div>
      </div>
      </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>


  </body>
</html>
