<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <form method="post" name="AddFriends">
  <img src="/static/AddFriend.jpg" style=" width:200px;height:200px;">
  
  <div>
    <table border="1">
     <tr>
         <td><strong>Username</strong></td>
         <td><strong>Name</strong></td>
         <td><strong>Phone Number</strong></td>
    </tr>      
    {% for n in data %}
     <tr>
         <td>{{n[0]}}</td>
         <td>{{n[1]}} {{n[2]}}</td>
         <td>{{n[3]}}</td>
         <td><input type="checkbox" id="FriendId" name="FriendId" text="Add Friend" value={{n[0]}}></td>
    </tr>
    {% endfor %}
   </table>
  </div>
 <input type="submit" value="ConfirmFriends" name="Confirm Friend Request">

</form>
</html>
